.admin
    color black
    .form--auth
        position fixed
        left 50%
        min-width 300px
        top 50%
        transform translateX(-50%) translateY(-50%)
        margin-top 60px
    .page--admin
        min-height 500px
    .text
        padding-top 0px
    &__nav
        @extend .profile__nav
        padding-top 0px
        margin-top 0px !important
    a&__link
        @extend a.profile__link
        background-color #f2f2f2
        background-image none
        color black
        &:hover, &--active
            background-color black
            color white
    .prizes
        &__table
            .table
                &__col
                    width 25%
    .check
        &__status
            &--inactive
                color #474a51
            &--canceled, &--check_canceled
                color red
            &--active
                color green
            &--moderation, &--added, &--processign
                color #ea7814
            &--vinner
                color #356ebb
    &-winners
        min-height 700px
        &__table
            full-width()
            .table
                &__col
                    width 20%
                    text-align left
                    input[type='checkbox']
                        size 20px
                        appearance none
                        border 1px solid black
                        t all
                        margin -10px 0
                        &:checked
                            border 1px solid red
                            background-color red
                            box-shadow inset 0 0 0 5px #f2f2f2
                    .form-group
                        float left
                        width 60%
                        margin -4px 10px -6px 0
                    a.btn
                        height 27px
                        line-height 30px
                        &, span
                            color white
                        padding 0 10px
                        display inline-block
                        background-color red
                        text-align center
                        white-space no-wrap
                        background-image none
                        margin -10px 0
                        &--disabled
                            background-color #383c41
                        img
                            middle()
                            margin-left -10px
                            margin-right 5px
                            margin-top -1px
            &--share-history
                .table
                    &__col
                        img
                            margin -10px 0
                        &:nth-child(1)
                            width 25%
                        &:nth-child(2)
                            width 10%
                        &:nth-child(3)
                            width 15%
                        &:nth-child(4)
                            width 45%
                        &:nth-child(5)
                            width 5%
            &--kitchen, &--test
                .table
                    &__col
                        &:nth-child(1)
                            width 20%
                        &:nth-child(2)
                            width 15%
                        &:nth-child(3)
                            width 6%
                        &:nth-child(4)
                            width 44%
                        &:nth-child(5)
                            width 12%
                        &:nth-child(6)
                            width 3%
    &-checks
        .form
            .dropdown
                width 220px
                float left
                margin-right 40px
            .radio-group
                float left
                position relative
                top -3px
            input[type='text']
                float right
                max-width 200px
                line-height 27px
                height 27px
                font-size 13px
                color black
                background-color #ced5d8
            margin-bottom 25px
        &__table
            margin-bottom 30px
            .table
                &__row
                    padding 17px 0 13px
                    text-align left
                    border-bottom 1px solid alpha(black, .2)
                    a
                        font-size 11px !important
                        color red
                        border-line(alpha(red, .5))
                        &:hover
                            color black
                            border-line(alpha(black, .5))
                &__title
                    text-align left
                &__col
                    lost-column 1/6 0
                    &:first-of-type
                        lost-column .4/6 0
                    &:nth-child(3)
                        lost-column .84/6 0
                    &:nth-child(5), &:nth-child(6)
                        lost-column 1.38/6 0
    &-competition, &-winners
        .admin
            &__footer
                margin-top 20px
                full-width()
                .form-group
                    float right
            &__toolbar
                full-width()
                margin-bottom 20px
                .form-group
                    float left
                    width 200px
                    margin-right 20px
        .table
            &__buttons
                float right
                a
                    display inline-block
                    size auto 27px
                    background-color #e40f0f
                    color white
                    padding 0 15px
                    line-height 30px
                    font-size 12px
                    background-image none
                    margin-left 10px
                    &.disabled
                        background-color alpha(#717b84, .5)
                        pointer-events none
    &-competition
        &__table
            full-width()

            &--checks
                .table
                    &__title
                        white-space no-wrap
                    &__col
                        text-align left
                        width (90/3)%
                        &:first-of-type
                            width 10%
            &--kitchen, &--test
                .table
                    &__title
                        white-space no-wrap
                    &__col
                        text-align left
                        width (75/3)%
                        &:first-of-type
                            width 10%
                        &:nth-child(3)
                            width 15%
                        input[type='checkbox']
                            appearance none
                            size 17px
                            border 1px solid black
                            float left
                            margin-top -3px
                            t all
                            &:hover
                                border-color red
                            &:focus
                                outline none
                            &:checked
                                border-color red
                                background-color red
                                box-shadow inset 0 0 0 4px #f2f2f2
                        .radio-group
                            display inline-block
                            position relative
                            input

                                &:checked + a:before
                                    border-color red
                                    background-color red
                                    box-shadow inset 0 0 0 4px #f2f2f2
                            a
                                margin-left 30px
                                position relative
                                margin-right 20px
                                background-image none
                                &:before
                                    t all
                                    content ""
                                    display inline-block
                                    size 19px
                                    border 1px solid black
                                    position absolute
                                    left -30px
                                    top -6px
                                    border-radius 50%
    &-presents
        margin-right -10px
        margin-left -10px
        .check
            float left
            width 25%
            padding 0 10px 25px
            &__actions
                font-size 12px
                width 100%
                text-align right
            a.check__action
                margin-left 20px
                background-image none
                &--active
                    color #007500
                    border-line(alpha(#007500, .5))
                &--cancel
                    color red
                    border-line(alpha(red, .5))
            &__status
                text-align right
                font-size 12px
            &__likes
                width 30%
                float left
                font-size 12px
            &__text
                font-size 11px
                text-align center
                margin-bottom 10px
            &__image
                width 100%
                padding-bottom 100%
                box-shadow inset 0 0 0 5px #f2f2f2
                border 1px solid #2b2b2b
                margin-bottom 10px
                background-size cover
            svg
                width 18px
                middle()
                position relative
                top -1px
                margin-right 3px
                path
                    fill #b0b2b3
    &__reports
        .table
            &__col
                width (100/3)%
                text-align left
            .form
                .dropdown
                    margin-top -6px

                .button
                    display inline-block
                    margin -13px 0
                    vertical-align middle
                    color white
                    min-width 0
                    padding 0 30px
                    height 30px
                    line-height 30px
                    font-size 13px !important
                a.button
                    background-color #e6141d
                    line-height 32px
                    &:hover
                        background-color #ff100b
