.breadcrumbs
    full-width()
    padding-top 15px
    font-size 12px
    margin-bottom 5px
    margin-left -5px
    /.title + &, /.categories &, /.products &
        margin-top -43px
    a&__item
        color red
        &:hover
            color white
    &__item
        margin-left 20px
        position relative
        &:before
            content ""
            position absolute
            size 8px
            background url(/layout/images/breadcrumb.gif) center center no-repeat
            top 1px
            left -15px
