@font-face
	font-family 'MainFont'
	src url("/layout/fonts/GothamPro.otf")
	src local(''), url('/layout/fonts/GothamPro.otf') format('opentype'), url('/layout/fonts/GothamPro.woff') format('woff')
	font-weight normal

@font-face
	font-family 'MainFont'
	src url("/layout/fonts/GothamPro-Bold.otf")
	src local(''), url('/layout/fonts/GothamPro-Bold.otf') format('opentype'), url('/layout/fonts/GothamPro-Bold.woff') format('woff')
	font-weight bold
