.games
    full-width()
    z-index 10
    & + .share-love
        margin-top -65px
    .game
        full-width()
        min-height 241px

        padding-top 20px
        @media (max-width: $scr_s)
            padding 20px 30px 0
            text-align center

        &__content
            @media (min-width: $scr_s)
                lost-column 8/12 0 0
            @media (min-width: $scr_md)
                lost-column 8.5/12 0 0
                position absolute
                left 0
                top 50%
                transform translateY(-50.1%)
        &__description
            line-height 1.3
            max-width 97%
            margin-bottom 15px
            font-size 13px
            @media (min-width: $scr_sm)
                margin-bottom 25px
                font-size 15px
                line-height 1.4
        &__flag
            @extend .title__flag
            right 0
            width 100px
            top 30px
            @media (min-width: $scr_s)
                width 100px
                right 0
                top 30px
                left auto
        &__image
            position relative
            box-shadow 0 0 0 15px black
            @media (max-width: $scr_s)
                display inline-block
                margin-bottom 20px
            @media (min-width: $scr_s)
                text-align right
                lost-column 4/12 0 0
                float right !important
                margin-right 0px
                img
                    max-width 100%
        &__line
            margin 20px 0 0
        &__title
            @extend .text h2
            margin-top 0px
            margin-bottom 18px
