global-reset()

$body-color         = white
$gotham             = 'MainFont', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
$body-font          = $gotham
$header-font        = $gotham
$max-font           = 15px
$min-font           = 13px
$line-height-ratio  = 1.4
$header-font-weight = 600
$header-color       = white
$header-ratio       = $minor-seventh
typographic()


$mw = 970px
$sw = 720px
$xsw = 640px

$scr_xs = 375px
$scr_s = 660px
$scr_sm = 760px
$scr_md = 990px
$scr_lg = 1170px


body, html
    height 100%
    -webkit-font-smoothing: antialiased;

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
	-webkit-font-smoothing: subpixel-antialiased;

body
    background black
    color white
    overflow-x hidden
    padding-top 80px

    -webkit-text-size-adjust: 100%
    @media (min-width: $scr_xs)
        padding-top 100px
    @media (min-width: $scr_s)
        padding-top 0px
a
    text-decoration none
    t color
*
    box-sizing: border-box;
    -moz-box-sizing: border-box;

.center
    text-align center !important

.right
    text-align right !important

.wrap
    @media (min-width: $scr_s)
        lost-center $xsw
    @media (min-width: $scr_sm)
        lost-center $sw
    @media (min-width: $scr_md)
        lost-center $mw

.ReactModal
    &__Overlay
        z-index 1000
        background-color alpha(black, .7) !important
        opacity 0
        t all, .2s
        &--after-open
            opacity 1
    &__Content
        opacity 0
        transition .3s all .1s
        &--after-open
            opacity 1
        transform translateX(-50%)
        min-height 100px

.pswp--svg .pswp__button:not(.pswp__button--arrow--left, .pswp__button--arrow--right), .pswp--svg .pswp__button--arrow--left:before, .pswp--svg .pswp__button--arrow--right:before
    background-image url(/layout/images/default-skin.svg)
