.modal
    & + div
        background-color black !important
    &__title
        margin-top 0px
        color black
        margin-bottom 30px
    p
        color black
    &__content
        padding 40px
