.modal
    transform: translate3d(-50%, -50%, 0) !important
    cf()
    .modal-overflow &
        position relative !important
        top 0 !important
        transform translateX(-50%) !important
    &--wide
        width 970px !important
        .modal__content
            padding 20px 40px 15px
    &-frame
        position fixed
        size 100%
        top 0
        left 0
        pointer-events none
        overflow auto
        z-index -1
        .modal-open &
            pointer-events all
            z-index 1000
        &--static
            .modal + div
                pointer-events none
    &-overflow
        overflow: hidden
    & + div
        background-color black !important
        overflow auto
    &__title
        margin-top 0px
        color black
        margin-bottom 30px
    &__content
        padding 40px
        cf()
    p
        color black
        &:last-item
            margin-bottom 0px

    label, legend
        color black
        line-height 35px
        margin-top 5px
        font-weight normal
        font-weight bold
        text-transform uppercase
        font-size 11px
        letter-spacing 1px
    fieldset
        padding 0
        margin 0
        max-width 100%
        full-width()

    .row
        full-width()
    .text
        float none
        padding 0
        line-height 1.25
        h2
            color black
            margin-top 0px
            margin-bottom 27px
        p
            font-size 13px
            &:last-of-type
                margin-bottom 0px
                padding-bottom 0px
    .btn-group
        float right
        button
            float left
            border-radius 0
            width 40px
            padding 0
            &:not(:last-child)
                border-right 0
            &:last-child
                border-radius 0 4px 4px 0
            &:not(:first-child)
                font-size 9px
            &:first-child
                border-radius 4px 0 0 4px
                font-weight bold
                font-size 14px
    button
        border 1px solid alpha(#ccc, 1)
        font-size 12px
        height 35px
        background-color transparent
        color black
        border-radius 4px
        t all

        &:hover, &.save
            background-color #0089d3
            border-color #0089d3
            color white
        &.save
            font-size 14px
            font-weight bold
            height 45px
            line-height 30px
            margin-top 20px
            &:hover
                background-color #005b9c
                border-color #005b9c
        &:focus
            outline 0
    input
        &[type='text']
            width 100%
            border 1px solid alpha(#ccc, 1)
            height 35px
            line-height 1
            border-radius 4px
            padding 0 10px
            transition .3s border, .3s background-color
            font-size 14px
            &:focus
                border-color #0089d3
                outline 0
    textarea
        @extend .modal input[type='text']
        min-height 200px
        max-width 100%
        font-size 12px



    .col-sm-8
        column(8/12)
    .col-sm-4
        column(4/12)
    .col-md-4
        column(4/12, cycle: 2)
    .col-md-6
        column(6/12, cycle: 2)
