.modal
    width 100%
    @media (min-width: $scr_s)
        max-width 600px
    .modal-overflow &
        position relative !important
        top 0 !important
        transform translateX(-50%) !important
    &--wide
        max-width 970px
        .modal__content
            padding 20px 40px 15px
    &--checks
        @media (min-width: $scr_s)
            max-width 450px
        .check-select
            .dropdown
                margin-bottom 20px
            small
                text-align center
                display inline-block
                line-height 1.3
                width 100%
                margin-top 0px
                font-size 11px
                color alpha(black, .8)
            &__label
                text-align center
                width 100%
                font-weight bold
                font-size 15px
                margin-bottom 9px
            &__count
                font-size 43px
                padding 0 0 15px
                font-weight bold
            &__name
                text-align center
                font-weight bold
                font-size 20px
                margin-bottom 30px
        .modal__content

            padding 35px 25px 34px

            .message
                text-align center
                font-weight bold
                font-size 18px
                padding 100px 0 99px
                line-height 1.4
                a
                    color red
                    border-line(alpha(red,.5))
    &--auth
        .modal
            &__close
                position absolute
                right 20px
                z-index 1000
                svg
                    size 20px
                    path
                        fill red
            &__links
                line-height 2
                a
                    font-size 13px
                    color black
                    border-line(alpha(black, .5))
                    &:hover
                        color red
                        border-line(alpha(red, .5))
            &__content
                padding 20px 10px
                overflow hidden
                @media (min-width: $scr_s)
                    padding 20px 40px
        small
            font-size 10px
            line-height 1.1
            margin-top 20px
            display inline-block
            color alpha(black, .8)
            a
                color red
                border-line(alpha(red,.5))
        .button
            min-width 60px
            text-align center
            padding 0
            img
                middle()
                max-width 30px
                max-height 23px
                margin-right 0px
        .trigger
            margin-top 20px
            font-size 12px
            margin-top 30px
            display inline-block
            color black
            border-line(alpha(@color, .6))
            &:hover
                color red
                border-line(alpha(@color, .6))

        .form
            padding-bottom 0px
            .file
                full-width()
                text-align left
                margin-top 5px
                margin-bottom 25px
            &--forget-link
                margin-bottom 1px
                .alert
                    margin-bottom 21px
            &--forget
                .form-group
                    width calc(50% - 10px)
                    float left
                    &:nth-child(2)
                        float right
            &__login
                padding-bottom 0px
                input[type='password'], input[type='email']
                    width calc(50% - 5px)
                    float left
                    margin-right 5px
                    &:focus
                        outline 0
            .captcha
                float right
                width 100%
                text-align center
                > div
                    display inline-block
            label
                text-align left
                color #717b84
                margin-bottom -10px
                margin-top -10px
                font-size 14px
            .form-group:nth-child(4), .form-group:nth-child(5)
                width calc(50% - 10px)
                float left
            .form-group:nth-child(5)
                float right
            .button
                width auto
                padding 0 25px
                margin-top 20px
                line-height 40px
        #password
            margin-right 0px
            margin-left 5px
        button
            width 20%
            float none
        form
            padding 0 0 20px
            text-align center
        h4
            font-size 16px
            color black
            margin-top 0px
            margin-bottom 10px
        .auth-social
            margin-bottom 30px
    &--recept
        @media (min-width: $scr_s)
            max-width 640px
        .recept
            &__image, &__content
                width 100%
                background-size cover
                float left
                padding 20px
                background-position center center
                position relative
                @media (min-width: $scr_s)
                    width 320px
                    min-height 320px
            &__video
                full-width()
                @extend .product__video
                margin-top 0px
            &__image
                padding 15px 20px
                min-height 320px
                .recept__name
                    text-shadow 0 0 5px rgba(2, 2, 2, 0.9)
                    font-size 22px
            &__shares
                width 100%
            &__share
                position absolute
                bottom 15px
                right 15px
                button
                    size 25px
                    margin-bottom 0px
                    padding 0
                    line-height 20px
                    float none
                    margin-left 10px
                    display inline-block
                    border-color white
                    opacity .6
                    t opacity
                    &:hover
                        background-color transparent
                        border-color white
                        opacity 1
                    img
                        max-height 14px
                        max-width 15px
                        middle()

            &__name
                font-size 18px
                line-height 1.2
                margin-top 0px
                margin-bottom 15px
                max-width 90%
                padding-top 0px
            &--video
                .recept
                    &__content
                        full-width()
                        min-height 135px
                        @media (min-width: $scr_s)
                            padding-top 15px
        .modal
            &__close
                position absolute
                right 21px
                top 21px
                z-index 20
                img
                    size 12px
            &__content
                padding 0px
                font-size 16px
                line-height 1.3
                color white
                background-color #ed1c24
                @media (min-width: $scr_s)
                    min-height 320px
                p
                    color white
                    max-width 90%
                    margin-bottom 0px
    &.modal--add-check, &.modal--edit-check
        max-width 720px
        button
            float right
        .modal__content
            padding 20px 40px 24px

            @media (min-width: $scr_s)
                input[type='text']
                    lost-column 5/7 3 20px
                label
                    lost-column 2/7 3 20px
                    text-align right
                    font-size 15px
            .form
                &__file-description, &__submit-description
                    float left
                    lost-column 2/7 3 20px
                    font-size 11px
                    color alpha(black, .8)
                    position relative
                    top -2px
                &__cancel

                    font-weight bold
                    float right
                    margin-right 40px
                    line-height 45px
                    background-image none
                    font-size 15px
                    &:hover
                        background none !important
                        span
                            color red
                            border-line(alpha(red, .6))
                    span
                        color black
                        border-line(alpha(black, .6))
                &__submit-description
                    margin-top 8px
                    font-size 12px
                &__total
                    full-width()
                    @media (min-width: $scr_s)
                        label
                            width auto
                            &:first-of-type
                                lost-column 2/7 3 20px

                    .form-group
                        float left
                        &:first-of-type
                            margin-right 10px
                            input
                                width 153px
                                margin-right 0px
                        &:last-of-type
                            margin 0 10px 0 20px
                            input
                                width 56px
                &__kpk
                    full-width()
                    @media (min-width: $scr_s)
                        input[type='text']
                            width 153px
                    .form-group
                        float left
                        width 100%
                        @media (min-width: $scr_s)
                            width auto
                            &:last-of-type
                                float right
                                input[type='text']
                                    width 143px

                    label
                        &:last-of-type
                            width 140px
                            margin-right 7px
                &__date
                    full-width()
                    label
                        &:last-of-type
                            width 70px
                    .form-group
                        float left
                        margin-right 8px
                    input[type='text']
                        width 46px
                        padding 0 10px
                        text-align center
    &.modal--edit-check
        .form
            margin-bottom 0px
            &__cancel
                float left !important
            &__col
                lost-column 3.5/6 0
                &:first-of-type
                    lost-column 2.5/6 0
            &__image
                width 100%
                min-height 511px
                background-size cover
                float right
                background-position center center
                border 1px solid #000000
                box-shadow inset 0 0 0 5px white
                t border
                &:hover
                    border-color red
            &__info
                font-size 12px
                margin-bottom 20px
                full-width()
                .form__col
                    lost-column 1/2 0
                    > span
                        margin-bottom 5px
                        display inline-block
                        width 100%
            input[type='text']
                margin-bottom 27px
                max-width 50px
                text-align center
            &__title
                text-align left
    &-frame
        position fixed
        size 100%
        top 0
        left 0
        overflow auto
        z-index 1000
        -webkit-overflow-scrolling: touch
    &-overflow
        overflow: hidden
    &-backdrop
        background-color alpha(black, .98)
        overflow auto
        -webkit-overflow-scrolling: touch
        @media (min-width: $scr_s)
            background-color alpha(black, .9)

    &--nav
        min-height 100%
        width 100% !important
        .modal
            &__close
                float right
                margin 15px 20px 10px
            &__content
                background-color transparent
                padding 0
        & + .modal-backdrop
            background-color alpha(#cf1c2a, .95)
            -webkit-backdrop-filter blur(40px) !important
        .nav
            &__col
                width 100%
                display block
                text-align center
                border-bottom 1px solid #e87a80
                &:first-of-type
                    border-top 1px solid #e87a80
            &__item
                font-size 24px
                padding 21px 38px 20px
                text-align center
                width 100%
                &:hover
                    color white
                &--active
                    background-color transparent
            &__line
                display none
    &__message
        padding 30px 0 50px
        color #717b84
        font-weight bold
        & + .button
            padding 0 25px
            margin-bottom 35px
    &__title
        margin-top 0px
        color black
        margin-bottom 30px
        position relative
        *
            color black
        h3
            margin-top 0px
            padding-top 0px
        a
            color red
            font-size 12px
            border-line(alpha(@color, .5))
            @media (min-width: $scr_s)
                position absolute
                right 0
                top 50%
                transform translateY(-50%)
                line-height 1
                margin-top -5px
            &:hover
                color black
                border-line(alpha(@color, .5))
        &--border
            border-bottom 1px solid red
            padding-bottom 10px
        &--padding
            padding-top 30px
    &__footer
        margin-top 20px
        padding-top 20px
        border-top 1px solid red
        full-width()
        button
            margin-bottom 0px
    &__content
        padding 40px
        lost-utility clearfix
        z-index 2000
        width 100%
        background-color white
        color black
        @media (min-width: $scr_md)
            min-width 450px
    p
        color black
        &:last-item
            margin-bottom 0px
    fieldset
        padding 0
        margin 0
        max-width 100%
        full-width()
    .row
        full-width()
    .text
        float none
        padding 0
        line-height 1.25
        h2
            color black
            margin-top 0px
            margin-bottom 27px
        p
            font-size 13px
            &:last-of-type
                margin-bottom 0px
                padding-bottom 0px
    .btn-group
        float right
        button
            float left
            border-radius 0
            width 40px
            padding 0
            &:not(:last-child)
                border-right 0
            &:last-child
                border-radius 0 4px 4px 0
            &:not(:first-child)
                font-size 9px
            &:first-child
                border-radius 4px 0 0 4px
                font-weight bold
                font-size 14px
    button
        border 1px solid alpha(#ccc, 1)
        font-size 12px
        height 35px
        background-color transparent
        color black
        border-radius 4px
        t all

        &:hover, &.save
            background-color #0089d3
            border-color #0089d3
            color white
        &.save
            font-size 14px
            font-weight bold
            height 45px
            line-height 30px
            margin-top 20px
            &:hover
                background-color #005b9c
                border-color #005b9c
        &:focus
            outline 0
    .alert
        font-size 11px
        border 1px solid alpha(white, .5)
        padding 10px 20px 7px
        border-radius 5px
        line-height 13px
        border-color red
        color red !important
