.nav
    full-width()
    text-align center
    z-index 40
    .modal-open .modal &
        z-index 1

        padding-bottom 120px
    @media (min-width: $scr_s)
        margin-bottom 24px
    &__auth
        width 100%
        bottom 65px
        position absolute
        left 0
        > span
            color white
            margin 0 5px
        a
            color white
            font-size 16px
            border-line(alpha(@color, .5))

    &__col
        display none

        @media (min-width: $scr_s)
            display inline-block
            margin 0 4px
        @media (min-width: $scr_sm)
            margin 0 0px
        @media (min-width: $scr_md)
            margin 0 8px
        &:first-of-type
            margin-left 0px
        &.right
            margin-right 0px
    &__line
        background url(/layout/images/menu.jpg) no-repeat top center
        background-size 1600px auto
        height 10px
        @media (min-width: $scr_xs)
            height 15px
        @media (min-width: $scr_s)
            height 24px
            bottom -24px
            position absolute
            left -320px
            width calc(100% + 320px * 2)
    &__item
        color white
        display inline-block
        border-top-right-radius 4px
        border-top-left-radius 4px
        font-size 12px
        position relative
        z-index 30
        padding 11px 15px 9px
        @media (min-width: $scr_sm)
            font-size 15px
        @media (min-width: $scr_md)
            font-size 17px
            padding 11px 26px 9px
        &:hover
            color red
        &--active
            &, &:hover
                color white
                background-color #ed1c13
        .nav__col--hover &
            background-color white
            color red

    &__category
        width 50%
        float left
        min-width 200px
        padding-right 40px
        &:last-of-type
            padding-right 0px
            padding-left 40px
    &__title
        font-weight bold
        color black
        font-size 16px
        padding-bottom 20px
        background url(/layout/images/divide.png) bottom center no-repeat
        background-size 100% 9px
        float left
        width 120%
        margin-left -25px
        padding-left 25px
        margin-bottom 5px
        span
            color black
            border-line alpha(black, .3)
            t color
            &:hover
                color red
                border-line alpha(red, .3)
    &__frame
        position absolute
        background-color white
        top 100%
        text-align left
        padding 20px
        z-index 10
        opacity 0
        t all, .15s
        pointer-events none
        display none
        .nav__col--hover &
            opacity 1
            pointer-events all
        .nav__item
            line-height 1.2
            padding 8px 0
            font-size 13px

            float left
            clear both
            max-width 90%
            padding-left 17px
            background url(/layout/images/nav.gif) 0px 8px no-repeat
            background-size 9px auto
            span
                t color
                color black
                border-line alpha(black, .3)
                &:hover
                    color red
                    border-line alpha(red, .3)
#app
    overflow hidden
