.page
    lost-utility clearfix
    position relative
    z-index 2
    full-width()
    & + .footer
        margin-top -5px
    &__title
        margin-top 0px
    &--stores
        background url(/layout/images/texture.jpg) bottom center no-repeat
        background-size 140% auto
        @media (min-width: $scr_sm)
            background-size auto 100%
            background-position top center
    &--index
        & + .share-love
            margin-top -65px
