.pagination
    padding-left 0px
    li, ul
        display inline
    li
        margin 0 10px
        a
            font-size 14px
        &.disabled
            display none
        &.active
            a

                color red
                background-image none
    .pages
        padding-left 0px
