.page
    lost-utility clearfix

    full-width()
    & + .footer
        margin-top -5px
    &__title
        margin-top 0px
    &--stores
        background url(/layout/images/texture.jpg) bottom center no-repeat
        background-size 140% auto
        z-index 5
        @media (max-width: $scr_sm)
            .text
                padding-bottom 5px
        @media (min-width: $scr_sm)
            background-size auto 100%
            background-position top center
    &--games
        margin-bottom 23px
    &--profile
        padding-bottom 60px
    &--index
        & + .share-love
            margin-top -65px
