.product
    full-width()

    padding-bottom 50px
    position relative
    z-index 20
    @media (max-width: $scr_sm)
        padding 15px 30px 25px
    @media (min-width: $scr_sm)
        background url(/layout/images/texture.jpg) top center

    &__name
        text-transform uppercase
        margin-bottom 10px
        font-size 20px
        line-height 1.1
        @media (min-width: $scr_xs)
            font-size 23px
        @media (min-width: $scr_s)
            font-size 27px
        @media (min-width: $scr_sm)
            font-size 33px
    &__favorite
        line-height 23px
        margin-bottom 20px
        margin-top -5px
        padding 0 30px
        @media (min-width: $scr_s)
            padding 0
        a
            color red
            &:hover
                img
                    transform scale(1.1)
        img
            middle()
            position relative
            top -1px
            t transform
            margin-right 5px
    &__tabs

        position relative
        @media (max-width: $scr_s)
            margin-right -30px
            margin-left -30px
        @media (min-width: $scr_sm)
            lost-column 6/12 12 0
        &-trigger
            @media (max-width: $scr_s)
                background url(/layout/images/line.png) center bottom no-repeat
                background-size 100% 2px
                padding-bottom 0px
                padding-left 30px
            a
                font-size 13px
                color white
                position relative
                z-index 2
                text-align center

                height 30px
                margin-right 20px
                display inline-block
                &:not(.active) > span
                    border-line(alpha(white, .5))
                img
                    display none

                > *
                    pointer-events none
                @media (min-width: $scr_xs)
                    font-size 14px
                @media (min-width: $scr_s)

                    margin-right 2px
                    padding 0 12px
                    font-size 12px
                    height 40px
                    line-height 43px
                    color black
                    background white
                    &:after
                        position absolute
                        size 100%
                        background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(230,230,230,1) 50%,rgba(177,177,177,1) 100%);
                        content ""
                        top 0
                        left 0
                        t opacity
                    span
                        position relative
                        z-index 2
                        background transparent !important
                    img
                        middle()
                        position relative
                        top -1px
                        margin-left 12px
                    &:not(.active):hover
                        &:after
                            opacity .5
                    &.active

                        &:after
                            opacity 0
        &-content

            font-size 13px
            line-height 1.2

            display none
            border-radius 8px
            box-shadow 0 5px 15px 2px alpha(black,.5)
            border-top-left-radius 0
            padding 30px 0px 25px
            @media (min-width: $scr_s)
                background-color white
                color black
                padding 30px 15px 25px
            &--active
                display block


            p
                margin-bottom 15px
                @media (max-width: $scr_sm)
                    padding 0 30px
                @media (min-width: $scr_sm)
                    padding-left 0px !important
                small
                    font-size 10px
                br
                    margin 10px
                &:last-of-type
                    margin-bottom 0px
    &__features
        padding-left 20px
        overflow hidden
        margin-bottom 0px
        list-style square outside
        @media (max-width: $scr_sm)
            padding 0 30px 0 50px
        li
            margin-bottom 6px
    &__image
        width 100%
    &__video, &__pdf, &__icons, &__sale
        padding-top 20px
        margin-top 20px
        background url(/layout/images/divide.png) top center no-repeat
    &__sale
        color black
        h4
            font-size 16px
            color black
            margin-top 0
        &-link
            size 140px 44px
            display inline-block
            border 1px solid #9a9a9a
            background-color white
            background-repeat no-repeat
            background-position center center
            border-radius 5px
            margin 10px 15px 5px 0px
            &:hover
                border-color red
    &__icons
        @media (max-width: $scr_sm)
            padding 0 30px 0 30px
            text-align center
            img
                background-color white
                border-radius 50%
                margin 0 10px 10px 0
    &__video
        position: relative
        display block
        height 0
        padding 0
        overflow hidden
        padding-bottom 56.25%
        iframe
            position absolute
            top 0
            bottom 0
            left 0
            width 100%
            height 100%
            border 0
    &__pdf
        padding-top 25px
        @media (max-width: $scr_sm)
            padding 25px 30px 0
        a
            color red
            font-size 14px
            border-line alpha(red, .5)
            margin-top 10px
            position relative
            margin-left 30px
            img
                position absolute
                left -25px
                top -7px
    &__images
        margin-top 30px
        z-index 20
        text-align center !important
        position relative
        margin-bottom 30px
        @media (min-width: $scr_s)
            margin-top -30px
        @media (min-width: $scr_sm)
            margin-top 0px
            margin-bottom 0px
            lost-column 6/12 12 0

    &__image
        background url(/layout/images/product.image.bg.png) bottom center no-repeat
        background-size contain
        padding-bottom 28%
        img
            max-width 85%
            display inline-block

    &__thumbs
        text-align center
        min-width 100%
        position absolute
        bottom 0px
        left 0

        @media (min-width: $scr_s)
            bottom 20px
    &__thumb
        size 75px
        border 1px solid white
        background-size cover
        background-position center center
        display inline-block
        margin 0 10px
        margin-top 10px
        position relative
        max-width calc(30% - 10px)
        &:nth-child(4n)
            @media (max-width: $scr_s)
                display none
        &:last-of-type
            margin-right 0px
            @media (max-width: $scr_s)
                .product__thumb-preview
                    margin-left -248px
                    &:before
                        left 76%
        &:first-of-type
            margin-left 0px
            @media (max-width: $scr_s)
                .product__thumb-preview
                    margin-left -64px
                    &:before
                        left 23%
        @media (min-width: $scr_sm)
            &:hover
                .product__thumb-preview
                    transform translateY(0)
                    opacity 1
        &-preview
            pointer-events none
            size 376px
            position absolute
            bottom 100%
            left 50%
            margin-left -188px
            transform translateY(20px)
            border 5px solid white
            margin-bottom 20px
            t all
            opacity 0
            background-size cover
            @media (max-width: $scr_s)
                size 320px
                margin-left -160px
            &:before
                top 100%
                left 50%
                border solid transparent
                content " "
                height 0
                width 0
                position absolute
                pointer-events none
                border-color: rgba(194, 225, 245, 0)
                border-top-color: white
                border-width: 16px
                margin-left: -16px
    &__artnumber
        margin-top 0px
        font-size 15px
        @media (min-width: $scr_xs)
            font-size 17px
        @media (min-width: $scr_s)
            font-size 20px
        @media (min-width: $scr_sm)
            font-size 24px
