.products
    full-width()
    position relative
    z-index 20
    background url(/layout/images/texture.jpg) bottom center
    @media (max-width: $scr_md)
        background-size 150% auto
    @media (min-width: $scr_md)
        background-size 155% auto
        background-position top center
    padding-bottom 20px
    .text
        padding-top 0px
    &__line
        margin 0px 0 40px

    &__image
        width 100%
        height 200px
        line-height 200px
        img
            max-width 100%
            max-height 100%
            middle()
    &__item

        height 305px
        background url(/layout/images/products.bg.png) top center
        background-size cover
        border-radius 8px
        padding 10px

        margin-bottom 30px
        transition .3s transform, .3s opacity, .3s box-shadow, 0s width
        box-shadow 0 0 0 0 alpha(black, 0)
        transform scale(.9)
        opacity 0
        position relative
        text-align center !important
        @media (max-width: $scr_md)
            lost-column 1/4 4
        @media (min-width: $scr_md)
            lost-column 1/5 5
        .edit
            opacity 0
            pointer-events none
            t opacity
        .products--ready &
            transform scale(1)
            opacity 1
        &:hover
            transition-delay 0s !important
            background-color black
            transform translateY(-10px)
            box-shadow 0 6px 15px 2px alpha(black, .5)
            z-index 10
            .edit
                pointer-events all
                opacity 1
    &__link
        color white
        min-height 295px
        display inline-block
    &__artnumber
        font-size 11px
    &__name
        font-size 13px
        line-height 16px
        width 100%
        margin-bottom 8px
