.profile
    .presents
        padding 20px 0px
        full-width()
        & + div
            img
                margin-bottom 20px
        &__item

            float left
            padding 5px
            margin-bottom 30px
            text-align center
            width 100%
            @media (min-width: $scr_xs)
                width (100/3)%
            @media (min-width: $scr_md)
                width 25%
        &__likes

            color #4f535c
            img
                middle()
                margin-right 5px
                position relative
                top -3px
        &__status
            margin-top 5px
            font-size 14px
            &--moderation
                color #e07212
            &--active
                color #007000
            &--canceled
                color red
        &__image
            width 100%
            padding-bottom 100%
            background-size cover
            box-shadow inset 0 0 0 5px black
            border 1px solid #2b2b2b
            margin-bottom 15px
            display inline-block
            cursor pointer
    &__col
        lost-column 1/1
        margin-bottom 40px
        &:last-of-type
            margin-bottom 10px
        @media (min-width: $scr_s)
            lost-column 1/2
            margin-bottom 0px
    &__nav
        width 100%
        background-color transparent
        border-bottom 1px solid #393c41
        margin-top 50px !important
        margin-bottom 40px
        display none
        @media (min-width: $scr_s)
            display block
    &__dropdown
        margin-bottom 30px
        @media (min-width: $scr_s)
            display none
    a&__link
        padding 12px 20px 7px
        background transparent
        margin-right 2px
        font-size 16px
        display inline-block
        border-radius 5px 5px 0 0
        &:hover
            background transparent
        &--active
            &, &:hover
                background-color #393c41
                color white
    .feedback
        &__text
            color #383c41
            border-top 1px solid #383c41
            margin-top 30px
            padding-top 30px
            full-width()

    .info
        &__photo
            float left
            size 70px
            border-radius 5px
            margin-right 20px
            background-size cover
            background-position center center
        &__name
            font-size 15px
            line-height 1.2
            display inline-block
            margin-top 7px
        &__links
            float left
            clear left
            margin-top 30px
            line-height 2.1
        &__date
            color #9a9ca0
            font-size 12px
        &__edit
            font-size 12px
            color red
            border-line(alpha(red, .5))
            @media (min-width: $scr_s)
                margin-right 40px
                & + br
                    display none
            &:hover
                color white
                border-line(alpha(white, .5))
        &__link
            background transparent
            position relative
            margin-left 40px
            display block
            width 100%
            margin-bottom 10px
            &:hover
                background-image none
            img
                position absolute
                left -25px
                top 50%
                transform translateY(-50%) translateX(-50%)
        a
            span
                border-line(alpha(white, .3))
            &:hover
                span
                    border-line(alpha(red, .3))

    .favorites

        &__table
            @media (max-width: $scr_s)
                .table

                    &__col
                        width 100%
                        padding 15px 0 13px
                        border-bottom 1px solid #383b43
                        min-height 45px
                        &.right
                            text-align center !important
                        &:nth-child(2)
                            br
                                display none
                    &__row
                        display none
                        lost-column 2.4/4 0 0
                        border 0
                        padding 0
                        border-top 1px solid #383b43
                        &:last-of-type
                            display block
                    &__title
                        lost-column 1.6/4 0 0
                        border 0
                        padding 0
                        border-top 1px solid #383b43
                        .table__col
                            text-align left
                            white-space no-wrap
                            &:first-of-type
                                min-height 134px
            @media (min-width: $scr_s)
                .table__col
                    lost-column 1.1/6 0 0
                    &:first-of-type
                        lost-column 1.6/6 0 0
                .table__row
                    padding 32px 0 27px
                    &:last-of-type
                        display none
        &--0
            .table
                @media (min-width: $scr_s)
                    &__row:last-of-type
                        display block
                @media (max-width: $scr_s)

                    &__title
                        display none
                    &__row
                        width 100%
                        border 0
        .favorite
            &__name
                position relative
                padding-left 90px
                display inline-block
                background transparent
                @media (max-width: $scr_s)
                    text-align center
                    width 100%
                    padding-left 0px
                    margin-top -5px
                    margin-bottom 10px
            &__delete
                color red
                font-size 11px
                border-line(alpha(red, .2))
            &__image
                margin-right 15px

                max-width 70px
                max-height 70px
                @media (min-width: $scr_s)
                    transform translateX(-100%) translateY(-50%)
                    position absolute
                    top 50%
                    left 70px

    .checks

        &-stat
            font-size 13px
            line-height 1.6

            .profile__col

                margin-bottom 25px
                @media (min-width: $scr_xs)
                    lost-column 1/2
                @media (min-width: $scr_s)
                    lost-column 1/2
                    margin-bottom 0px
        &__table
            margin-top 35px
            .dropdown
                margin -5px 0 2px
            .table

                @media (max-width: $scr_s)
                    &__title
                        lost-column 1.6/4 0 0
                        border 0
                        padding 0
                        .table__col
                            text-align left

                    &__row
                        display none
                        lost-column 2.4/4 0 0
                        border 0
                        padding 0
                        &:last-of-type
                            display block
                        .table__col
                            min-height 57px
                            &.left
                                text-align center
                            &:nth-child(2)
                                br
                                    display none

                            &:first-of-type
                                br
                                    display none
                                a
                    &__col
                        width 100%
                        padding 15px 0 13px
                        border-bottom 1px solid #383b43

                @media (min-width: $scr_s)
                    &__col
                        lost-column 1.1/8 0 0
                        &:first-of-type
                            lost-column 1.4/8 0 0
                        &:last-of-type
                            display none
                    &__row
                        &:last-of-type
                            display none
        &--0
            .table
                @media (min-width: $scr_s)
                    &__row:last-of-type
                        display block
                @media (max-width: $scr_s)

                    &__title
                        display none
                    &__row
                        width 100%
                        border 0
        .check
            position relative
            &__edit
                position absolute
                right 0
                top 20px
                background-image none
                opacity .5
                t opacity
                &:hover
                    opacity 1
                    background-image none
            &__show, &__edit
                @media (max-width: $scr_s)
                    display none
            &__show, &__vinner
                font-size 10px
                background-image none
                span
                    color red
                    border-line(alpha(red, .3))
            &__connect, &__vinner
                font-size 11px
            &__preview
                size 51px
                background-size cover

                border 1px solid #333741
                box-shadow inset 0 0 0 3px black
                t border
                margin-bottom 5px
                display none
                &--active
                    display inline-block
                &:hover
                    border-color red
            &__comment
                size 20px
                background-color #6d6f73
                display inline-block
                border-radius 50%
                text-align center
                line-height 22px
                margin-top 5px
                position relative
                cursor pointer
                &:after
                    content attr(data-text)
                    position absolute
                    font-size 11px
                    background-color #6d6f73
                    width 120px
                    line-height 1
                    padding 10px 10px 7px
                    border-radius 5px
                    left 100%
                    top 50%
                    margin-left 10px
                    transform translateY(-50%) translateX(-10px)
                    opacity 0
                    pointer-events none
                    t all
                &:hover:after
                    transform translateY(-50%)
                    opacity 1
            &__status
                @media (max-width: $scr_s)
                    display inline-block
                    margin-right 10px

                &--inactive
                    color #474a51
                &--canceled
                    color red
                &--active
                    color #00d95a
                &--moderation
                    color orange
            &__info
                display none
                padding-top 8px
                font-size 12px
                @media (max-width: $scr_s)
                    padding-top 25px
                br
                    display block !important
                &--visible
                    display block
                > span
                    display inline-block
                    margin-bottom 8px
