.profile
    &__col
        lost-column 1/2 0 30px
    &__nav
        width 100%
        background-color transparent
        border-bottom 1px solid #393c41
        margin-top 50px !important
        margin-bottom 40px
    a&__link
        padding 12px 20px 7px
        background transparent
        margin-right 2px
        font-size 16px
        display inline-block
        border-radius 5px 5px 0 0
        &:hover
            background transparent
        &--active
            &, &:hover
                background-color #393c41
                color white
    .feedback
        &__text
            color #383c41
            border-top 1px solid #383c41
            margin-top 30px
            padding-top 30px
            full-width()
    .info
        &__photo
            float left
            size 70px
            border-radius 5px
            margin-right 20px
        &__name
            font-size 15px
            line-height 1.2
            display inline-block
            margin-top 7px
        &__links
            float left
            clear left
            margin-top 30px
            line-height 2.1
        &__date
            color #9a9ca0
            font-size 12px
        &__link
            background transparent
            position relative
            margin-left 30px
            img
                position absolute
                left -17px
                top 50%
                transform translateY(-50%) translateX(-50%)
        a
            span
                border-line(alpha(white, .3))
            &:hover
                span
                    border-line(alpha(red, .3))
