.rating
    margin-top 20px
    full-width()
    &__tools, &__title
        width 100%
        lost-utility clearfix
    &__tools
        float left
    .table

        &__col
            lost-column 1/5
            &:nth-child(2)
                lost-column 2/5
    &__shows
        color #7c7f82
        float right
        text-align right
        a
            color #7c7f82
            &:hover
                color white
    &__pages, &__shows
        lost-column 1/2
        min-height 1px
    &__tools
        margin 15px 0 5px
    &__title
        > h3
            lost-column 1/3
        h3
            float left
    &__select
        lost-column 1/3
        > span
            float right
            font-size 12px
            color #5b5e60
        .dropdown
            margin-top 17px
            &--hover, &:hover
                .dropdown__trigger
                    border-radius 5px 5px 0 0
            &--dates
                float right
                width 79%
            &__frame
                border-radius 0 0 5px 5px
            &__item
                font-size 15px
            &__trigger
                background-color transparent
                border 1px solid red
                border-radius 5px
                height 48px
                line-height 49px
                font-size 21px
                font-weight bold
                t all
                svg
                    max-width 14px
                    top 18px
                    path
                        fill red
                &:after
                    display none
