.rating
    margin-top 20px
    margin-bottom 10px
    full-width()
    &__tools, &__title
        width 100%
        lost-utility clearfix
    &__tools
        float left
    &__image
        size 40px
        background-size cover
        border-radius 50%
        margin-right 15px
        display none
        @media (min-width: $scr_s)
            middle()
    &__total
        font-size 24px
        font-weight bold
        margin-top 8px
    &__name
        display inline-block
        position relative
        top 2px
        middle()
        font-size 15px
        line-height 1.2
        @media (min-width: $scr_md)
            br
                display none
    &__position
        font-size 15px
        position relative
        top 13px
    .table
        &__col
            lost-column 1.5/4
            &:first-of-type
                lost-column 1/4
            @media (min-width: $scr_s)
                lost-column 1/4
                &:nth-child(2)
                    lost-column 2/4
    &__shows
        color #7c7f82
        float right
        width 100%
        text-align center
        @media (min-width: $scr_s)
            text-align right
        a
            color #7c7f82
            &:hover
                color white
    &__pages, &__shows
        min-height 1px
        @media (min-width: $scr_s)
            lost-column 1/2

    &__tools
        margin 15px 0 5px
    &__title
        padding 0 20px
        @media (min-width: $scr_s)
            padding 0
        h3
            float left
            white-space normal
            margin-top 30px
            @media (min-width: $scr_s)
                font-size 20px
                margin-top 32px
            @media (min-width: $scr_md)
                font-size 25px
                margin-top 27px
        > h3
            margin-top 0px
            font-size 25px
            @media (min-width: $scr_s)
                lost-column 1.4/6
                margin-top 20px
            @media (min-width: $scr_sm)
                lost-column 1/5
            @media (min-width: $scr_md)
                margin-top 25px
                lost-column 1/3

    &__select
        lost-column 1/1
        @media (min-width: $scr_s)
            lost-column 2.3/6 3
        @media (min-width: $scr_sm)
            lost-column 2/5 3
        @media (min-width: $scr_md)
            lost-column 1/3

        > span
            float right
            font-size 12px
            color #5b5e60
            clear both
        .dropdown
            margin-top 17px
            full-width()
            &--dates
                float right
                width 79%
            &__frame
                border-radius 0 0 5px 5px
                margin-top -3px
            &__item
                font-size 15px
            &__trigger
                background-color transparent
                border 1px solid red
                border-radius 5px
                height 48px
                line-height 49px
                font-weight bold
                t all
                font-size 17px
                @media (min-width: $scr_sm)
                    font-size 21px
                svg
                    max-width 14px
                    top 18px
                    path
                        fill red
                &:after
                    display none
