.stores
    lost-utility clearfix
    margin 60px 0 40px
    position relative
    z-index 2
    &__item
        background-position center center
        background-size contain
        background-repeat no-repeat
        transition .2s all
        position relative
        box-shadow 0 0 0 0 alpha(black, 0)

        lost-column 1/4 0 0
        padding-bottom 25%
        @media (min-width: $scr_md)
            lost-column 1/5 0 0
            padding-bottom 20%
        &:hover
            box-shadow 0 10px 20px 5px alpha(black, .5)
            transform translateY(-10px) scale(1.01)
            z-index 1
            transition-delay .3s
        &--hover
            z-index 20
    & + p
        font-size 14px
        margin-bottom 40px
        color alpha(white, .7)
