.text
    line-height 1.4
    padding 22px 0 20px
    full-width()
    p
        max-width 97%
        & + h2
            margin-top 70px
    a
        color white
        border-line(alpha(white, .5))
        &:hover
            color red
            border-line(alpha(red, .5))
    h2
        font-size 33px
    strong
        font-weight bold
    &--small
        p
            font-size 13px
