.text
    line-height 1.4
    padding 22px 0 20px
    &--no-padding
        padding 0
    &--black
        *
            color black
    full-width()
    p
        max-width 97%
        & + h2
            margin-top 55px
    a
        color white
        border-line(alpha(white, .5))
        &:hover
            color red
            border-line(alpha(red, .5))
    h2
        font-size 33px
        margin-bottom 20px
        .text--no-padding&
            &:first-child
                margin-top 0px
        & + div
            margin-top 20px
    h5
        font-size 14px
    strong
        font-weight bold
    &--small
        p
            font-size 13px
