.text
    line-height 1.4
    padding 22px 30px 20px
    @media (min-width: $scr_s)
        padding 22px 0 20px
    .products &
        @media (max-width: $scr_s)
            padding-left 0px
            padding-right 0px
    a
        color white
        border-line(alpha(white, .5))
        &:hover
            color red
            border-line(alpha(red, .5))
        &.button
            background-image none
            &:hover
                background-image none
                color white
    &--no-padding
        padding 0
    &--black
        *
            color black
        a
            color black
            border-line(alpha(black, .5))
    full-width()
    p
        max-width 97%
        & + h2
            margin-top 30px
            @media (min-width: $scr_sm)
                margin-top 55px

    h2
        margin-bottom 20px
        font-size 20px
        @media (min-width: $scr_s)
            font-size 27px
        @media (min-width: $scr_sm)
            font-size 33px
        .text--no-padding&
            &:first-child
                margin-top 0px
        & + div
            margin-top 20px
    h5
        font-size 14px
    strong
        font-weight bold
    &--small
        p
            font-size 13px

    .alert
        padding 10px 15px 8px
        color white
        font-size 12px
        border-radius 5px
        &.alert-danger
            border 1px solid red
