.title
    full-width()
    position relative
    z-index 10
    &__line
        .title--counter &
            margin-top 37px
    &__flag
        position absolute
        background-color red
        height 24px
        font-size 15px
        font-weight bold
        z-index 2
        line-height 26px
        padding 0 10px
        left 0
        bottom 30px

    &__question


        font-weight bold
        padding 10px 0
        @media (max-width: $scr_md)
            lost-column 5/12 0 0
            font-size 22px
            line-height 23px
        @media (min-width: $scr_md)
            lost-column 4/12 0 0
            font-size 24px
            line-height 27px
    &__heart
        position relative
        top 3px

    &__actions
        lost-column 3/12 0 0
        text-align right

    &__image
        position relative
        .title--small &
            margin-bottom 25px
    &__divider
        full-width()
    &__products

        text-align right !important
        position relative
        @media (max-width: $scr_md)
            lost-column 7/12 0 0
        @media (min-width: $scr_md)
            lost-column 8/12 0 0
        img
            margin-right 12px

            position relative
            z-index 3
            max-width 100%
            margin-top -44px
            @media (min-width: $scr_md)
                margin-top -74px

    &__counter
        min-height 60px

        lost-column 9/12 0

    &__description
        padding-top 9px
        margin-bottom 14px
        font-size 14px
        line-height 19px
        lost-column 9/12 0 0
        @media (min-width: $scr_md)
            font-size 16px
            line-height 21px

        .title--counter &
            width 100%
            margin-bottom 11px
            p
                max-width none
        p

            margin-bottom 0px
            max-width 85%
            @media (min-width: $scr_md)
                max-width 78%
            strong
                font-weight bold
    &__love
        margin 25px 0 16px
    & + .share-love
        margin-top -65px
