.title
    full-width()
    position relative
    z-index 10
    &__line
        .title--counter &
            margin-top 37px
    &__question
        span(4/12)
        font-size 24px
        font-weight bold
        padding 10px 0
        line-height 27px
    &__heart
        position relative
        top 3px
    &__actions
        span(3/12)
        text-align right
    &__image
        .title--small &
            margin-bottom 16px
    &__products
        span(8/12)
        min-height 74px
        text-align right
        img
            margin-right 12px
            margin-top -74px
            position relative
            z-index 3
    &__counter
        span(9/12)
        min-height 60px
    &__description
        span(9/12)
        font-size 16px
        line-height 21px
        padding-top 9px
        margin-bottom 14px
        .title--counter &
            width 100%
            margin-bottom 11px
            p
                max-width none
        p
            max-width 78%
            margin-bottom 0px
            strong
                font-weight bold
    &__love
        margin 25px 0 16px
    & + .share-love
        margin-top -65px
